.slider {
    position: relative;
}

.slider__active-picture img {
    height: 415px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

@media only screen and (max-width: 500px) {
    .slider__active-picture img {
      height: 255px;      
    }
}

.slider__active-picture {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 20px;
}

.slider__next {
    position: absolute;
    right: 25px;
}

.slider__previous {
    position: absolute;
    left: 25px;
}

.fa-chevron-left {
    color: white;
    font-size: 75px;
}

.fa-chevron-right {
    color: white;
    font-size: 75px;
}

.slider__previous, .slider__next {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: transparent;
  border-color: transparent;
}

.counter {
    display: block;
      color: white;
      position: absolute;
      bottom: 25px;
      font-weight: 500;
      left: 50%;
      padding-bottom: 25px;
      filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
}