.galleryContainer {
    width: 1240px;
    margin: auto;
    background-color: #F7F7F7;    
    border-radius: 25px;
}

.galleryContainer ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 1em;
    margin: 0;
    padding: 20px; */
}

.galleryContainer li {
    margin: 25px;
}