*, *:before, *:after {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-size: 18pt;
    color: #FF6060;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

li {
  list-style: none;
}

/* ErrorPage */
.errorContainer {
  height: 100vh;
  text-align: center;
}

.errorContainer h1 {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 216pt;
}

.errorContainer p {
  font-size: 27pt;
  font-weight: 500;
}

@media only screen and (max-width: 750px) {
  .errorContainer h1 {
    font-size: 100pt;
    margin-top: 100px;
  }

  .errorContainer p {
    font-size: 20pt;
    margin-bottom: 100px;
  }
}

.errorContainer a {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-decoration: underline;
  padding: 0;
}

@media only screen and (max-width: 500px) {
  .errorContainer h1 {
    font-size: 76pt;
  }

  .errorContainer p {
    font-size: 14pt;
    padding-left: 50px;
    padding-right: 50px;
  }

  .errorContainer a {
    font-size: 12pt;
  }
}

/* AboutPage */
.aboutContainer {
  flex-grow: 1;
  margin-bottom: 130px;
}

/* LogementPage */

.logementContainer {
    width: 100%;
    max-width: 1240px;
    margin: auto;
    margin-bottom: 50px;
    flex-grow: 1;
}

.logementPlug {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.logementInfos h1 {
  font-size: 27pt;
  margin-top: 0px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .logementInfos h1 {
    font-size: 20pt;
  }
}

.logementInfos p {
  font-size: 14pt;
  margin-top: 0;
}

.hostProfile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media only screen and (max-width: 500px) {
  
  .hostProfile {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

.dropdownBlock {
  padding: 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

@media only screen and (max-width: 1170px) {
  .dropdownBlock {
    justify-content: space-around;
  }
}

.dropdown {
  width: 100%;
  max-width: 582px;
  min-width: 335px
}

.tagCategory {
  display: flex;
}

.tagCategory {
  padding: 0px;
}