*, *:before, *:after {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-size: 18pt;
    color: #FF6060;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

li {
  list-style: none;
}

/* ErrorPage */
.errorContainer {
  height: 100vh;
  text-align: center;
}

.errorContainer h1 {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 216pt;
}

.errorContainer p {
  font-size: 27pt;
}

.errorContainer a {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-decoration: underline;
}

/* AboutPage */
.aboutContainer {
  flex-grow: 1;
  margin-bottom: 130px;
}

/* LogementPage */

.logementInfos h1 {
  font-size: 27pt;
  margin-bottom: 10px;
}

.logementInfos p {
  font-size: 14pt;
  margin-top: 0;
}