.hostContainer {
    display: flex;
    margin: 10px 0px;
    align-items: center;
}

.hostContainer img {
    max-width: 64px;
    min-width: 64px;
    border-radius: 100%;
}

.hostContainer h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    text-align: right;
    margin: 0px;
    color: #FF6060;
    width: 93px;
    margin-right: 10px;
}